/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.zed
/.vs/Projeto_Final/v17/.wsuo
/.vs/Projeto_Final/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/config/phpstorm/bookmarks/installed.txt
/config/phpstorm/bookmarks/IntelliJ IDEA Global Settings
/config/phpstorm/bookmarks/options/windows/keymap.xml
/config/phpstorm/scripts/setup_phpstorm.ps1
/config/phpstorm/bookmarks/keymaps/Windows Proper Redo.xml
/storage/last_run.txt
