* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
    
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #99A3B9;
}


main {
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
    padding: 20px;
    position: fixed;
    width: 93.5%;
    z-index: 1;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


/* -------------------CARDS--------------------------------- */

.container {
    display: flex; /* Use Flexbox to center the carousel */
    justify-content: flex-start; /* Center horizontally */
    align-items: flex-start; /* Center vertically */
    flex-direction: column; /* Stack items vertically if needed */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: 100px 20px 10px; /* Simplified margin */
    background-color: #ffffff;
    border-radius: 18px;
}


.insidecontainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    
    
   
  }
  
  .card1 {
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
    box-sizing: border-box;
    background-color: white;
    border: 15px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);

  }

  .card2 {
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
    box-sizing: border-box;
    background-color: white;
    border: 15px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }



  
  .card img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .slider-nav {
    display: none;
  }

  h2{
display: flex;
justify-content: center;


  }
  
  .ICtitulo {
    font-size: 28px;
    display: flex;
    padding-top: 10px;
    padding-left: 20px;


  }

  #nomeavaria{
    font-size: 16px; /* Adjusts the font size of the input text */
    line-height: 1.2; /* Adjusts line height for better alignment */
    width: 20%;
    




  }


  .Avatar{

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    
}

#imagemavatar{

border: 2px solid black;
border-radius: 80%;

}

#detalhes {
    font-size: 16px; /* Adjusts the font size of the input text */
    
    width:100% ;
    height: 300px; /* Sets a specific height for the input */
    line-height: 1.2; /* Adjusts line height for better alignment */
    box-sizing: border-box; /* Ensures padding is included in total width/height */
    padding: 10px; /* Add some padding */
    vertical-align: top; /* Align text to the top */
    text-align: left; /* Ensure text is left-aligned */
    resize: none; /* Prevent resizing if it's a textarea */
}

#detalhes::placeholder {
    font-size: 16px; /* Adjusts the font size of the placeholder text */
    
    
}




#serialnumber{
    background-color: #eee;
	padding: 12px 15px;
	margin: 8px 0;
	width: 30%;
    border-radius: 30px;



  }


#nomeequipamento{
    font-size: 16px; /* Adjusts the font size of the input text */
    line-height: 1.2; /* Adjusts line height for better alignment */
    width: 20%;
    




  }


#Tipoequipamento{
    background-color: #eee;
	padding: 12px 15px;
	margin: 8px 0;
	width: 30%;
    border-radius: 30px;


  }


#Modelo{
    background-color: #eee;
	padding: 12px 15px;
	margin: 8px 0;
	width: 30%;
    border-radius: 30px;



  }


#Fabricante{
    background-color: #eee;
	padding: 12px 15px;
	margin: 8px 0;
	width: 30%;
    border-radius: 30px;



  }

#sala{
    background-color: #eee;
	padding: 12px 15px;
	margin: 8px 0;
	width: 30%;
    border-radius: 30px;

  }

.botoes{
    display: flex;
    flex-direction: row;
    margin: 10px;
}


#botao {
    width: 150px;
    height: 65px;
    margin: 10px;
	border-radius: 20px;
	border: 1px solid #0077ff;
	background-color: #0077ff;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
	padding: 12px ;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    text-align: center;
}

#botao:hover{
    background-color: #0077ff; /* Darken the background on hover */
   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Enhance shadow on hover */


}

#botao:active {
	transform: scale(0.95);
}


#botao2 {
    width: 150px;
    height: 65px;
    margin: 10px;
	border-radius: 20px;
	border: 1px solid #dc3545;
	background-color: #dc3545;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
	padding: 12px ;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    text-align: center;
}


#botao2:hover{
    background-color: #dc3545; /* Darken the background on hover */
   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Enhance shadow on hover */


}


#botao2:active {
	transform: scale(0.95);	
}

a {
    outline: none; /* Remove o contorno padrão */
    text-decoration: none; /* Remove o sublinhado, se desejado */
    color: white;
}


